header {
    background-color: var(--main-white-color);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1001;
}

nav {
    height: 80px;
    display: flex;
    align-items: center;
}

.navbar__wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navLinks {
    display: flex;
    align-items: center;
}

.navLinks h1 {
    margin-right: 90px;
}

.navLinks ul {
    display: flex;
    gap: 10px;
    list-style: none;
    font-weight: 700;
    position: relative;
}
.navLinks ul li {
    transition: .2s;
    padding: 5px 10px;
} 
.navLinks ul li:hover{
    background-color: var(--main-color);
    color: var(--main-white-color);
    border-radius: 8px;
    cursor: pointer;
}
.navSearch{
    display: flex;
    align-items: center;
    gap: 50px;
}
.navSearch .callCenter{
    background-color: transparent;
    border: 0;
    font-size: 15px;
    font-weight: 700;
    padding: 8px 15px;
    color: var(--main-color);
    transition: .3s;
}
.navSearch .callCenter:hover{
    background-color: var(--main-color);
    color: var(--main-white-color);
    border-radius: 20px;
}
.navSearch .callSearch{
    background-color: transparent;
    border: 0;
    font-size: 22px;
    font-weight: 700;
    color: var(--main-color);
    transition: .5s;
}